<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,SuperUser"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?" />
      <deny roles="Normal" />
    </authorization>
  </system.web>
</configuration>
