<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    
    <add name="SQLConnectionString" connectionString="Data Source=da45d620-1c9b-4727-ac90-a1a3013e4a68.sqlserver.sequelizer.com; 
         Initial Catalog=dbda45d6201c9b4727ac90a1a3013e4a68;User ID=lqbrvsdffiyvzflq; Password=UTpnXoweJa8t7XPKVmpXTgA5RrQRMvZfxHesDzDoq8fYSVoxNwdT6M3NstCEEMyo;" providerName="System.Data.SqlClient" />
</connectionStrings>
 

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" name=".ASPXFORMSAUTH" timeout="2880" />
    </authentication>
    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SQLConnectionString"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SQLConnectionString" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SQLConnectionString" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <globalization culture="en-GB" uiCulture="en-GB" />

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.net>
    <mailSettings>
      <smtp from="admin@jri.com">
        <network host="smtp.sendgrid.net" password="ut5edwxt" userName="2227e761-db2c-4a0e-9f78-a127aac5e525@apphb.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
